USE [master]
GO
/****** Object:  Database [EMPLOYEES-PROJECT]    Script Date: 29/11/47 12:13:25 م ******/
CREATE DATABASE [EMPLOYEES-PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEES-PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EMPLOYEES-PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEES-PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\EMPLOYEES-PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEES-PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEES-PROJECT]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29/11/47 12:13:25 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EMP_ID] [int] NOT NULL,
	[EMP_NAME] [varchar](50) NOT NULL,
	[AGE] [int] NULL,
	[GENDER] [char](1) NULL,
	[DEPARTMENT] [varchar](50) NULL,
	[SALARY] [decimal](10, 2) NULL,
	[CITY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [AGE], [GENDER], [DEPARTMENT], [SALARY], [CITY]) VALUES (106, N'Maha Ali', 24, N'F', N'Sales', CAST(6500.00 AS Decimal(10, 2)), N'Riyadh')
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [AGE], [GENDER], [DEPARTMENT], [SALARY], [CITY]) VALUES (107, N'Omar Hassan', 31, N'M', N'IT', CAST(9200.00 AS Decimal(10, 2)), N'Jeddah')
INSERT [dbo].[Employees] ([EMP_ID], [EMP_NAME], [AGE], [GENDER], [DEPARTMENT], [SALARY], [CITY]) VALUES (108, N'Laila Ahmed', 26, N'F', N'HR', CAST(7100.00 AS Decimal(10, 2)), N'Abha')
GO
USE [master]
GO
